@import './shared/fonts';
@import './shared/index';
@import './shared/header';

html, body {
  font-family: Montserrat, Helvetica !important;
  height: 100%;
  width: 100%;
}

.self-typed {
  font-size: 31px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

.absolute {
  position: absolute;
}